html{
    background-color: antiquewhite;
}

body{
    margin: 0 auto 0 auto;
    width: 70%;
}

main{
    margin-top: 10%;
}

form{
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
    padding: 7px;
}

.opcao{
    display: flex;
    margin: 30px 0 30px 0;
    padding: 5%;
}