body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: pink;
}

.esquerda, .direita{
    margin: 0% 5%;
}

#navebar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}  
.nav-item{
    padding: 5%;
}