header{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: pink;
}
.esquerda{
    margin-right: 45%;
}
nav{
    margin: 5%; 
}

#navebar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    
}  

.nav-item{
    padding: 5%;
    
}

.direita{
    margin-left: 45%;
}