html {
    /*alterar depois*/
    background-color: #efefef;
}
body{
    margin: 0 auto 0 auto;
    /*alterar depois*/
    font: 1.2em / 1.5 system-ui;
    border: 20px; 
    width: 500px;   

}

/*Barra de navegação*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: pink;
}

.esquerda, .direita{
    margin: 0% 5%;
}

#navebar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}  
.nav-item{
    padding: 5%;
}

/*Sobre*/
a{
    color: green;
}
a:hover{
    color: rgb(100, 45, 0);
    text-decoration: none;
}

h3{
    color: darkslategray;
    border-bottom: 10px dotted purple;
}

#meu-nome{
    font-size: 2rem;
}

#info-contato{
    font-style: italic;
    font-size: 1.5rem;
}

.contato{
    background-color: white;
    border:5px solid purple;
    padding: 30px;
    border-radius: 20px;
}